
/*=> Tables
--------------------------------------------------*/
#content article section .table {
    & th, & td {
        vertical-align: middle;
    }
    & th:not(:last-child) {
        width: 15%;
    }
}
#content article section.chmod .table {
    &, &.auto-col-size th {
        width: auto;
    }
}
