
/*=> Text
--------------------------------------------------*/

/*=> Text - Articles
--------------------------------------------------*/
article {
    h2, h3 {
        margin: $gutter 0 $gutter-half 0;
    }
    h2:first-child {
        margin-top: 0;
    }
}

