
@import "bootstrap";
@import "partials/_variables";


/*=> Styles
--------------------------------------------------*/

html, footer {
    background-color: $footer-colour;
}

body {
    padding-top: $navbar-height;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}


/*=> Styles - Flexbox
--------------------------------------------------*/

.flex-container {
    display: flex;
    align-items: stretch;

    &__column {
        flex-direction: column;
    }
    &__row {
        flex-direction: row;
    }
    &__row--left {
        justify-content: flex-start;
    }
    &__row--right {
        justify-content: flex-end;
    }
}


/*=> Styles - Content
--------------------------------------------------*/

#content {
    padding: $grid-gutter-width ($grid-gutter-width / 2);
    min-height: 500px;
}

/*=> Styles - Footer
--------------------------------------------------*/

footer {
    padding-top: $grid-gutter-width;
    color: $footer-text-colour;
}


/*=> Styles - Button
--------------------------------------------------*/

.btn {
    border-radius: 0;
}

.btn-transparent {
    background: transparent;
}


