
@import "bootstrap";
@import "partials/_variables";
@import "partials/_text";
@import "partials/_buttons";
@import "partials/_tables";


/*=> Styles
--------------------------------------------------*/

html, footer {
    background-color: $footer-colour;
}

body {
    padding-top: $navbar-height;
    font-family: $brand-font-family;
    font-weight: $brand-font-weight;
}

// Fix the issue with the fixed navbar covering up id anchor points
// This doesn't work on table elements
*[id^="ac-"]:before {
    content: '';
    display: block;
    position: relative;
    width: 0;
    height: 5em;
    margin-top: -5em;
}


/*=> Styles - Flexbox
--------------------------------------------------*/

.flex-container {
    display: flex;
    align-items: stretch;

    &__column {
        flex-direction: column;
    }
    &__row {
        flex-direction: row;
    }
    &__row--left {
        justify-content: flex-start;
    }
    &__row--right {
        justify-content: flex-end;
    }
}


/*=> Styles - Content
--------------------------------------------------*/

#content {
    padding: $grid-gutter-width ($grid-gutter-width / 2);
    min-height: 500px;

    section {
        margin: $gutter 0;
        overflow: hidden; // Fix the margins overlapping
    }
}

/*=> Styles - Footer
--------------------------------------------------*/

footer {
    padding-top: $grid-gutter-width;
    color: $footer-text-colour;
}


/*=> Styles - Button
--------------------------------------------------*/

.btn {
    border-radius: 0;
}

.btn-transparent {
    background: transparent;
}


